<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Grid by Example</title>
    <link rel="stylesheet" href="static/css/gridbyexample.css" />
</head>

<body>
<header class="header">
  
  <div class="wrapper">
    <div class="about">
      <h1>Grid by Example</h1>
      <p>Everything you need to learn CSS Grid Layout</p>
    </div>
  </div>

  <nav class="main">
    <ul class="nav">
      <li><a href="/learn">Start Here</a></li>
      <li><a href="/examples">Examples</a></li>
      <li><a href="/patterns">Patterns</a></li>
      <li><a href="/video">Video tutorial</a></li>
      <li><a href="/resources">Resources</a></li>
    </ul>
  </nav>
</header>



    <div class="wrapper home-layout">

      <div class="panel-box panel-primary">
        <h1 id="css-grid-layout">CSS Grid Layout</h1>

        <p>This site is a collection of examples, video and other information to help you learn CSS Grid Layout. Developed and maintained by Rachel Andrew.</p>

      </div>


      <div class="panel-box panel-a">
        <h2>The Video Tutorial</h2>
        <p>A collection of short and to the point videos, demonstrating various parts of the CSS Grid Layout specification.</p>
      </div>

      <div class="homepage-bar">
        <h2>Get Started Guide</h2>
        <p>A structured guide to resources that will help you to start learning CSS Grid Layout.</p>
      </div>

      <div class="panel-box panel-b">
        <h2>The Examples</h2>
        <p>Small examples of the CSS Grid Layout specification. Each demonstrates a feature of the specification. Includes new Subgrid examples!</p>
      </div>

      <div class="panel-box panel-c">
        <h2>Patterns</h2>
        <p>Grab &amp; Go. A set of example patterns with fallbacks for older browsers. </p>
      </div>

      <div class="panel-box panel-d">
        <h2>Resources</h2>
        <p>More links to articles, tutorials and conference presentations that will help you learn CSS Grid Layout.</p>
      </div>
      
      <div class="panel-box panel-e offsite">
        <h2>CSS Layout News</h2>
        <p>Sign up for a weekly email full of CSS Layout links and resources.</p>
      </div>

      <div class="panel-box panel-f offsite">
        <h2>Questions?</h2>
        <p><strong>Ask me anything</strong> about Grid Layout over at my GitHub Grid AMA.</p>
      </div>

      <div class="panel-box panel-g">
        <h2>About CSS Grid</h2>
        <p>What even is this? Do I need to care?</p>
      </div>
      
      <div class="panel-box panel-h">
        <h2>News</h2>
        <p>Infrequent updates on this site.</p>
      </div>

      <div class="panel-box panel-i offsite">
        <h2>GridBugs!</h2>
        <p>If you have found a bug in a browser, or want to see what we have found so far, check out this site.</p>
      </div>
    </div>
 <footer class="footer"><div class="wrapper">

        
    
        <p>This is a project by Rachel Andrew. Take a look at some of the other things I make.</p>
        <ul>
            <li>Perch CMS - the original Really Little CMS. Designed for speed and simple implementation.</li>
            <li>Notist - slide sharing and much more. Create your public speaking portfolio.</li> 
            <li>The CSS Workshop - learn CSS Layout with me</li> 
        </ul>

        <p class="thanks">This site is hosted on Netlify, thanks to their free hosting for open source projects.</p>

</div>
</footer>
  
</body>

</html>
